/* yay! CSS variables */
:root {
    --main-background-color: #000000;
    --main-text-color: #FFFFFF;
    --main-font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

html {
    overflow: hidden;
}

body {
    font-family: var(--main-font-family);
    background: var(--main-background-color);
    margin: 0;
}

#sketch {
    position: absolute;
}

#text {
    
    /* Centering */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 400px;
    height: 140px;
    color: var(--main-text-color);
    text-align: center;
    outline-color: var(--main-text-color);
    outline-style: solid;
    outline-width: 1px;
    overflow: hidden;
}

p#name {
    margin: 0;
    font-size: 2.5em;
    width: 100%;
}

p#instructions {
    margin: 0;
    padding: 1px;
    font-size: 0.9em;
}

ul#navigation {
    margin: 0 auto 0 auto;
    padding: 0;
}

ul#navigation li {
    display: inline-block;
    padding: 20px;
    padding-top: 17px;
}

a {
    color: var(--main-text-color);
    font-size: 1.1em;
    text-decoration: none;
}

a:hover {
    color: #FF0000;
    text-decoration: underline;
}