:root {
    --main-background-color: black;
    --main-text-color: white;
    --main-font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

body {
    font-family: var(--main-font-family);
    background: var(--main-background-color);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: var(--main-text-color);
}

a:hover {
    color: red;
}

#wrapper {
    /* Centering */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 700px;
    height: 500px;
    color: var(--main-text-color);
    outline-color: var(--main-text-color);
    outline-style: solid;
    outline-width: 1px;
    overflow: auto;
}

h1#title {
    color: var(--main-text-color);
    margin: 0px auto;
    text-align: center;
    font-size: 2.25em;
    padding: 20px;
}

#description {
    width: 50%;
    height: 370px;
    color: var(--main-text-color);
    
    
    float: left;
    padding: 0 20px 0 20px;

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
}

p {
    margin: 0;
    padding: 0 0 20px 0;
}

#teamspeak {
    width: 40%;
    height: 370px;
    color: var(--main-text-color);
    float: right;
}